logger:
  maxSize:    1    # 单一档案最大几M
  maxBackups: 10   # 最多保留几份
  maxAge:     7    # 最多保留几天
  compress:   True # 压缩成gz
redis:
  user : root
  password : password
  host : redis
  port : 6379
mysql:
  user : root
  password : test
  host : mysql
  port : 3306
  dbname : casbin